.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.profile {
  width: 12rem;
  height: auto;
  aspect-ratio: 1.0;
  object-fit: cover;
  border-radius: 999999px;
  border-color: var(--foreground-color);
  border-width: 3px;
  border-style: solid;
}

h1, p {
  margin: 0;
}