@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root {
  --foreground-color: rgb(44, 0, 67);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Seymour One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecb585;
  color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
